* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#captcha {
    color: white;
    text-align: center;
    display: block;
    user-select: none;
    margin-bottom: 100px;
    
}

#result {
    color: white;
}

input {
    height: 30px;
    text-align: center;
}